#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: auto;
  min-width: 300px;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

label {
  margin: 0.5rem 0 0.2rem 0.5rem;
}

input,
textarea {
  font-family: inherit;
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: auto;
  height: 2rem;
  padding: 0 0.5rem;
}

textarea {
  height: auto;
  padding: 0.5rem;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
}

.button_reset {
  background-color: #444c56;
  color: #adbac7;
  border-color: rgb(205 217 229 / 10%);
}

.button_reset:hover {
  background-color: #373e47;
  color: #adbac7;
  border-color: #768390;
  transition-duration: 0.1s;
}

.button_submit {
  background-color: #347d39;
  color: #fff;
}
.button_submit:hover {
  background-color: #46954a;
  border-color: rgb(205 217 229 / 10%);
  transition-duration: 0.1s;
}

@media (prefers-color-scheme: light) {
  .button_reset {
    background-color: #f6f8fa;
    color: #24292f;
    border-color: rgb(27 31 36 / 15%);
  }
  .button_reset:hover {
    background-color: #f3f4f6;
    color: #24292f;
    border-color: rgb(27 31 36 / 15%);
  }
  .button_submit {
    background-color: #0969da;
    color: #fff;
  }
  .button_submit:hover {
    background-color: #0969da;
    border-color: rgb(205 217 229 / 10%);
  }
}
