#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  min-width: 960px;
}

@media screen and (max-width: 992px) {
  .container {
    min-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-width: 300px;
  }
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.label {
  position: relative;
  padding: 0rem 0 3.625rem 0.5rem;
}

.label_textarea {
  padding: 0rem 0 10.5rem 0.5rem;
}

.error_message {
  position: absolute;
  left: 0.5rem;
  bottom: 0;
  color: red;
}

.counter_about,
.counter_techStack,
.counter_lastProject {
  position: absolute;
  font-size: 0.9rem;
  bottom: 0;
  right: 0.5rem;
}

input,
textarea {
  position: absolute;
  top: 1.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: auto;
  height: 2rem;
  padding: 0 0.5rem;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #888;
}

input[type="date"].date-input--has-value::-webkit-datetime-edit-text,
input[type="date"].date-input--has-value::-webkit-datetime-edit-month-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-day-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-year-field {
  color: #f8f9fa;
}

textarea {
  height: max-content;
  padding: 0.5rem;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.button_reset {
  background-color: #444c56;
  color: #adbac7;
  border-color: rgb(205 217 229 / 10%);
}

.button_reset:hover {
  background-color: #373e47;
  color: #adbac7;
  border-color: #768390;
  transition-duration: 0.1s;
}

.button_submit {
  background-color: #347d39;
  color: #fff;
}
.button_submit:hover {
  background-color: #46954a;
  border-color: rgb(205 217 229 / 10%);
  transition-duration: 0.1s;
}

@media (prefers-color-scheme: light) {
  .button_reset {
    background-color: #f6f8fa;
    color: #24292f;
    border-color: rgb(27 31 36 / 15%);
  }
  .button_reset:hover {
    background-color: #f3f4f6;
    color: #24292f;
    border-color: rgb(27 31 36 / 15%);
  }
  .button_submit {
    background-color: #0969da;
    color: #fff;
  }
  .button_submit:hover {
    background-color: #0969da;
    border-color: rgb(205 217 229 / 10%);
  }
}
